body {
    height: 100vh;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}
  
#player {
    background-color: rgb(50, 50, 50); border-radius: 10px;
    width: 90%; height: 90%;
    max-width: 375px; min-height: 350px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.profile-banner {
    background-color: rgb(206, 175, 2); border-radius: 10px;
    width: 100%; height: 15%;
    min-height: 50px;
}

.header {
    margin-top: -10%; margin-bottom: -2%;
    margin-left: auto; margin-right: auto;
    display: flex;
    font-family: sans-serif;
    color: white;
    align-items: center; justify-content: center;
    padding-left: 50px; padding-right: 50px;
}

.center-header {
    margin-left: auto; margin-right: auto;
    align-items: center; justify-content: center; text-align: center;

}

.visualizations-counter {
    margin-left: 0px; margin-top: -1px;
}

.profileimage {
    border-radius: 100px; margin-bottom: -20%;
}

.icon-buttons {
    width: 30px; height: 30px; padding: 5px;
    align-items: center; justify-content: center; text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.rigth-header {
    margin-top: 30px;
}

ion-icon {
    width: 90%; height: 90%;
}

.header ion-icon {
    color: white;
}

.followbutton {
    width: 30px; height: 30px;
    background-color: transparent; border-radius: 5px;
    color: white; border: white solid 1px; font-weight: bold;
    padding-top: 6px; padding-bottom: 6px; padding-left: 9px; padding-right: 9px;
    justify-content: center; align-items: center; text-align: center;
    
}

.horizontal-line {
    border: none;
    background-color: rgb(151, 151, 151);
    height: 1px; width: 100%;
}

.content{ margin-left: 20px; margin-top: -3%;}

.content-buttons{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: white;
    font-size: 85%; display: flex;
}

.episode-field {
    display: flex;
    width: 90%; height: 10%;
    padding-left: 10px; padding-top: 10px;
}

.episode-field:hover{
    background-color: rgb(45, 45, 45); border-radius: 10px; cursor: pointer;
    
}

.episode-image {
    border-radius: 10px;
    width: 60px; min-width: 80%;
}

.episode-texts {
    padding-left: 20px;
    color: white;
    margin-top: -23px;
}

.episode-title {
    font-family: Calibri, Arial, Sans-serif;
}

.episode-description {
    width: 100%; margin-top: -10px;
}

.control-buttons-background {
    display: block; 
    padding-top: 3px; padding-bottom: 15px;
    background-color: rgb(45, 45, 45); border-radius: 10px;
    width: 375px; height: fit-content;
    box-shadow: 0px -10px -10px 0px rgba(202, 202, 202, 0.12),
      0px -15px -5px -10px rgba(202, 202, 202, 0.12), 0px -5px -25px 0px rgba(202, 202, 202, 0.12);
}

.control-buttons {
    display: flex;
    justify-content: center; align-items: center; text-align: center;
}

.play-pause{
    width: 35px; height: 35px;
    background-color: white; border-radius: 20px;
    margin-left: 15px; margin-right: 15px; cursor: pointer;
}

.play-pause ion-icon {
    margin-left: 4px; margin-top: 2px;
    color: rgb(45, 45, 45);
}

.commonbutton {
    width: 25px; height: 25px; color: rgb(200, 200, 200); cursor: pointer;
}

.commonbutton:hover {
    color: white; 
}

.time-line {
    margin-top: 15px; margin-bottom: 15px; margin-left: 50px; margin-right: 50px;
    display: flex; color: white;
    align-items: center; text-align: center; 
}

.time-line .slider {
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    color: rgb(206, 175, 2);
    height: 100px; width: 100px;
    cursor: pointer; position: relative;
}

.slider::-moz-range-thumb {
    color: rgb(206, 175, 2);
    height: 100px; width: 100px;
    cursor: pointer; position: relative;
}

.slider::-ms-thumb {
    color: rgb(206, 175, 2);
    height: 100px; width: 100px;
    cursor: pointer; position: relative;
}

.slider {
    width: 100%; height: 3px;
    margin-left: 10px; margin-right: 10px;
    outline: none; border: none;
    -webkit-appearance: none; -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 3px; cursor: pointer;
}

.episodes-button-background {
    background-color: transparent;
    justify-content: center; align-items: center; text-align: center; cursor: pointer;
    padding-right: 10px; padding-bottom: 4px;
}

.episodes-button,  .about-button{
    padding-left: 10px; padding-right: 10px; padding-bottom: 4px;
    background-color: rgb(45, 45, 45); border-radius: 10px;
}

.episodes-button:hover {
    background-color: rgb(206, 175, 2);
    border-radius: 10px; 
    padding-left: 10px; padding-right: 10px; padding-bottom: 4px;
}

.about-button:hover {
    background-color: rgb(206, 175, 2);
    border-radius: 10px;
    padding-left: 10px; padding-right: 10px; padding-bottom: 4px;
}

.active-text h2{
    border-radius: 10px;
    background-color: rgb(206, 175, 2);
    padding-left: 10px; padding-right: 10px; padding-bottom: 4px;
}

.about-content {
    margin-top: -6%;
    width: 93%; text-align: center;
    color: #fff;
}

.follow-description-text {
    background-color: rgb(80, 80, 80); border-radius: 3px;
    width: 81px; height: 35px; position: fixed; transform: translate(-35px, -25px);
    padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;
}

.left-header {
    justify-content: center; align-items: center; text-align: center;
}

.share-description-text {
    background-color: rgb(80, 80, 80); border-radius: 3px;
    width: 100px; height: 35px; position: fixed; transform: translate(-45px, -10px);
    padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;
}

.unfollow-icon {
    visibility: hidden;
}

.share-options {
    position: absolute; transform: translate(40%, 97%);
    background-color: rgb(80, 80, 80); border-radius: 3px;
    width: 270px; height: fit-content; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;
    text-align: center; justify-content: center;
}

.span-background-container {
    background-color: rgb(95, 95, 95); border-radius: 3px;
    padding-left: 8px; padding-right: 8px; padding-top: 5px; padding-bottom: 5px;
    width: fit-content;
}

.share-button {
    margin-top: 10px;
    background-color: rgb(95, 95, 95); color: white;
    border-radius: 3px;  border: none;
    padding: 3px; cursor: pointer;
    width: 270px; height: 20px;
}

input {
    color: white;
}

.share-text {
    background-color: transparent; border: none;
    width: 250px;
}

.share-text::selection {
    border: none;
}

.playicon {
    transform: translate(0%, -96%);
    margin-left: 6px; color: white;
    visibility: hidden;
}

.back {
    margin-left: 10px;
}

.next {
    margin-right: 10px;
}