/* TODAY TRENDING EPISODES */
.todaytrendingepisodes {
    width: max-content; height: max-content;
    padding-left: 20px; padding-right: 20px;
    padding-top: 15px; padding-bottom: 15px;
    background-color: #252525; border-radius: 10px; box-shadow: 0px 3px 10px 1px #1a1a1a;
    margin-bottom: 25px;
}

.todaytrendingepisodes .upperfield {
    width: 100%; height: max-content;
    align-items: center;
    display: flex;
}

.todaytrendingepisodes .upperfield .title {
    font-size: 30px;
    color: white;
}

.todaytrendingepisodes .upperfield .seemore {
    width: 100px;
    text-decoration: none; list-style: none;
    color: white;
}

.todaytrendingepisodes .cardsfield {
    width: 100%; height: max-content;
    align-items: center; justify-content: center;
    margin-top: 10px;
    display: flex;
}

.todaytrendingepisodes .cardsfield .card {
    width: max-content; height: max-content;
    padding: 10px;
    background-color: var(--background-color); border-radius: 10px;
    color: white;
    list-style: none; text-decoration: none;
    margin-left: 5px; margin-right: 5px;
}

.todaytrendingepisodes .cardsfield .card .cardimage {
    width: 150px; height: 150px;
    background-color: gray; border-radius: 10px;
}

.todaytrendingepisodes .cardsfield .card .cardtitle {
    width: 100%; height: max-content;
    font-size: 16px;
    margin-top: 10px;
}

.todaytrendingepisodes .cardsfield .card .cardauthor {
    width: 100%; height: max-content;
    font-size: 14px; font-weight: lighter;
    margin-top: 5px;
}