.page {
    width: 100%; height: 100%;
    display: flex;
    justify-content: center; align-items: center;

}

.page .logofield {
    width: 100%; height: 400px;
    display: flex;
    justify-content: center; align-items: center;
}

.page .logofield .image {
    width: 325px; height: 300px;
}

.page .logofield .title {
    font-weight: lighter; font-size: 72px;
    color: white;
}

.page .logosystem {

}
