.header {
    width: 50px; height: 100%;
    background-color: #252525;
    display: flex; position: fixed;
    justify-content: center; align-items: center;
}

/* HOME BUTTON */
.header .home {
    width: max-content; height: max-content;
    position: fixed; display: flex;
    align-items: center;
    top: 25px;
}

.header .home .homebutton {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; border-radius: 5px;
}

.header .home .homebutton:hover {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; background-color: #2B2B2B; border-radius: 5px;
}

.header .home .homedescription {
    width: max-content; height: max-content;
    background-color: #252525; color: white; border-radius: 5px;
    padding: 5px; padding-left: 10px; padding-right: 10px;
    left: 50px; top: 05px;
    position: absolute;
    visibility: hidden;
}

/* MIDDLE MENU */
.header .middlemenu {
    width: max-content; height: 200px;
    display: block;
    align-items: center; justify-content: center;
}

/* SEARCH BUTTON */
.header .middlemenu .search {
    width: max-content; height: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
}

.header .middlemenu .search .searchbutton {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; border-radius: 5px;
}

.header .middlemenu .search .searchbutton:hover {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; background-color: #2B2B2B; border-radius: 5px;
}

.header .middlemenu .search .searchdescription {
    width: max-content; height: max-content;
    background-color: #252525; color: white; border-radius: 5px;
    padding: 5px; padding-left: 10px; padding-right: 10px;
    left: 55px;
    position: absolute;
    visibility: hidden;
}

/* SUBSCRIPTION BUTTON */
.header .middlemenu .subscription {
    width: max-content; height: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
}

.header .middlemenu .subscription .subscriptionbutton {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; border-radius: 5px;
}

.header .middlemenu .subscription .subscriptionbutton:hover {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; background-color: #2B2B2B; border-radius: 5px;
}

.header .middlemenu .subscription .subscriptiondescription {
    width: max-content; height: max-content;
    background-color: #252525; color: white; border-radius: 5px;
    padding: 5px; padding-left: 10px; padding-right: 10px;
    left: 55px;
    position: absolute;
    visibility: hidden;
}

/* PROFILE BUTTON */
.header .middlemenu .profile {
    width: max-content; height: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.header .middlemenu .profile .profilebutton {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; border-radius: 5px;
}

.header .middlemenu .profile .profilebutton:hover {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; background-color: #2B2B2B; border-radius: 5px;
}

.header .middlemenu .profile .profiledescription {
    width: max-content; height: max-content;
    background-color: #252525; color: white; border-radius: 5px;
    padding: 5px; padding-left: 10px; padding-right: 10px;
    left: 55px;
    position: absolute;
    visibility: hidden;
}

/* SETTINGS BUTTON */
.header .middlemenu .settings {
    width: max-content; height: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.header .middlemenu .settings .settingsbutton {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; border-radius: 5px;
}

.header .middlemenu .settings .settingsbutton:hover {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; background-color: #2B2B2B; border-radius: 5px;
}

.header .middlemenu .settings .settingsdescription {
    width: max-content; height: max-content;
    background-color: #252525; color: white; border-radius: 5px;
    padding: 5px; padding-left: 10px; padding-right: 10px;
    left: 55px;
    position: absolute;
    visibility: hidden;
}

/* LEAVE BUTTON */
.header .exit {
    width: max-content; height: max-content;
    position: fixed; display: flex;
    align-items: center;
    bottom: 50px;
}

.header .exit .exitbutton {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; border-radius: 5px;
}

.header .exit .exitbutton:hover {
    width: 30px; height: 30px;
    padding: 5px;
    color: white; background-color: #2B2B2B; border-radius: 5px;
}

.header .exit .exitdescription {
    width: max-content; height: max-content;
    background-color: #252525; color: white; border-radius: 5px;
    padding: 5px; padding-left: 10px; padding-right: 10px;
    left: 50px; bottom: 5px;
    position: absolute;
    visibility: hidden;
}